<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>info quote</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="../css/quote.css" rel="stylesheet">
  </head>
  <body>
    
    <!-- Navigation-->
    <div>
      <%- include('./navbar'); %>
    </div>
    
    <!-- Content section-->
    <div class="container-fluid py-5">
      <main>
       
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal">Pricing</h1>
          <p class="fs-5 text-muted">Based on the information you fill in, we calculate the price of your policy. You can choose the policy that suits you and make a purchase</p>
        </div>

        <div class="row justify-content-md-cente">
            <!-- il faut récupérer id de url!!! -->
            <form action="/dashboard/payment?id=<%= quote_id %>" method="post">
              <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                  <!-- <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">Pro</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">€15<small class="text-muted fw-light">/mo</small></h1>
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>40000€ payout max</li>
                        <li>500€ deductible</li>
                      </ul>
                      <button type="button" class="w-100 btn btn-lg btn-outline-primary">Payment</button>
                    </div>
                  </div> -->
                </div>
                <div class="col">
                   <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3 text-bg-primary border-primary">
                      <h4 class="my-0 fw-normal">Price</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title"><%= info[0] %>€<small class="text-muted fw-light">/mo</small></h1>
                      <ul class="list-unstyled mt-3 mb-4">
                        <li><%= info[1] %>€ payout max</li>
                        <li><%= info[2] %>€ deductible</li>
                      </ul>
                      <button type="submit" class="w-100 btn btn-lg btn-primary">Payment</button>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <!-- <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">Ultra</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">€30<small class="text-muted fw-light">/mo</small></h1>
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>60000€ payout max</li>
                        <li>0€ deductible</li>
                      </ul>
                      <button type="button" class="w-100 btn btn-lg btn-outline-primary">Payment</button>
                    </div>
                  </div> -->
                </div>
              </div>

              <div class="py-5 text-center">
                <h2>The informations of quote</h2>
              </div>

              <div class="row g-3">
                <h4 class="mb-3">Find your vehicle</h4>
                <hr class="my-4">

                <!-- Date of first registration of the vehicle -->
                <div class="col-12" label="1ere_mise_en_circulationdu">
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="form-label">Date of first registration of the vehicle:</label>
                    </div>
                    <div class="col-sm-6">
                      <label name="first_driving" class="form-label"><%= info[3] %></label>
                    </div>
                  </div>
                </div>

                <!-- Factory date -->
                <div class="col-12" label="Factory_date">
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="form-label">Factory date:</label>
                    </div>
                    <div class="col-sm-6">
                      <label class="form-label" name="year_car"><%= info[4] %></label>
                    </div>
                  </div>
                </div>

                <!-- Marque de votre véhicule -->
                <div class="col-12" label="Marque_véhicule">
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="form-label">Vehicle Brand:</label>
                    </div>
                    <div class="col-sm-6">
                      <label class="form-label" name="level_car"><%= info[5] %></label>                       
                    </div>
                  </div>
                </div>

                <!-- Vehicle energy -->
                <div class="col-12" label="Energie_vehiculee">
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="form-label">Vehicle energy:</label>
                    </div>
                    <div class="col-sm-6">
                      <label class="form-label" name="energy_car"><%= info[6] %></label>
                    </div>
                  </div>
                </div>

                <!-- Vehicle color -->
                <div class="col-12" label="Energie_vehiculee">
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="form-label">Vehicle color:</label>
                    </div>
                    <div class="col-sm-6">
                      <label name="color_car" class="form-label"><%= info[7] %></label>                      
                    </div>                   
                  </div>
                </div>

                <!-- Vehicle usage -->
                <div class="col-12" label="Usage_vehicule">
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="form-label">Vehicle usage:</label>
                    </div>
                    <div class="col-sm-6">
                      <label class="form-label" name="usage_car"><%= info[8] %></label>                       
                    </div>
                  </div>
                </div>

                <!-- Nomber of km -->
                <div class="col-12" label="Nombre_km">
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="form-label">Number of km that the vehicle will travel on average per year (all trips combined):</label>
                    </div>
                    <div class="col-sm-6">
                      <label class="form-label" name="km_car"><%= info[9] %></label>                     
                    </div>                   
                  </div>
                </div>
                <hr class="my-4">

                <h4 class="mb-3">The primary driver</h4>
                <hr class="my-4">

                <!-- Birthdate -->
                <div class="col-12" label="date_naissance">
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="form-label">Birthdate:</label>
                    </div>
                    <div class="col-sm-6">
                      <label name="birth_user" class="form-label"><%= info[10] %></label>
                    </div>                    
                  </div>
                </div>

                <!-- license acquisition date -->
                <div class="col-12" label="date_permis">
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="form-label">license acquisition date:</label>
                    </div>
                    <div class="col-sm-6">
                      <label name="start_permis" class="form-label"><%= info[11] %></label>
                    </div>
                  </div>
                </div>

                <!-- license expiry date -->
                <div class="col-12" label="date_permis">
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="form-label">Licence expiry date:</label>
                    </div>
                    <div class="col-sm-6">
                      <label name="end_permis" class="form-label"><%= info[12] %></label>
                    </div>
                  </div>
                </div>

                <!-- id de son permis -->
                <div class="col-12" label="date_permis">
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="form-label">License ID:</label>
                    </div>
                    <div class="col-sm-6">
                      <label name="id_permis" class="form-label"><%= info[13] %></label>
                    </div>                   
                  </div>
                </div>

                <hr class="my-4">

                <h4 class="mb-3">Additional information</h4>
                <hr class="my-4">

                <!-- Votre nom et prénom -->
                <div class="col-12" label="nom_prénom">
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="form-label">Your first and last names:</label>
                    </div>
                    <div class="col-sm-6">
											<label class="form-label" name="name"><%= info[14] %></label>
                    </div>
                  </div>
                </div>

                <!-- Email -->
                <div class="col-12" label="nom_prénom">
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="form-label">Email:</label>
                    </div>
                    <div class="col-sm-6">
                      <label name="email" class="form-label"><%= info[15] %></label>
										</div>
                  </div>
                </div>

                <!-- Adresse -->
                <div class="col-12" label="Adresse">
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="form-label">Address:</label>
                    </div>
                    <div class="col-sm-6">
                      <label name="address" class="form-label"><%= info[16] %></label>
                    </div>
                  </div>
                </div>
              </div>
              
              <hr class="my-4">
            </form>
        </div>
      </main>
    </div>
    
    <!-- Footer-->
    <footer class="text-muted bg-secondary py-3">
      <%- include('./footer'); %>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
  </body>
</html>
